<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Layout Basica</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/bg.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nam excepturi commodi. Incidunt accusamus tempora enim eveniet saepe pariatur eos eum, obcaecati perferendis exercitationem harum molestias aperiam at. Iure, explicabo.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iusto possimus, dicta dolorem libero adipisci necessitatibus quibusdam esse officia voluptate dolor culpa ratione hic doloribus perferendis ex quod ea corrupti.</p>

                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit omnis doloribus dolor blanditiis! Sed sunt ipsam aut, odit id deserunt minima, sint rem ipsum architecto nam asperiores excepturi, nulla totam.</p>
            </div>
        </aside>
        <footer>
            <p>Guille Fernández. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>